.destinations-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item header h3 {
  margin-bottom: 24px;
}

.destinations .item .img-item {
  width: 100%;
  height: 360px;
}

.destinations .item p {
  margin-bottom: 24px;
}

.destinations .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg);
  background-size: cover;
}

.destinations .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg);
  background-size: cover;
}

.destinations .button {
  width: 100%;
  margin-bottom: 40px;
}

.travel-packages .item.osaka .button {
  margin-bottom: 0;
}

/*Blog*/
.figure-accommodation {
  width: 100%;
}

.blog section {
  margin-bottom: 0;
}

.blog.destinations.posts .item.hiroshima .img-item {
  background: url(../img/hiroshima-mobile.png) no-repeat;
  background-size: cover;
}

.blog.destinations.posts .item.kyoto .img-item {
  background: url(../img/kyoto-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }

  .destinations .item.tokyo .img-item {
    background: url(../img/tokyo-tablet-desktop.jpg);
    background-size: cover;
  }

  .destinations .item.osaka .img-item {
    background: url(../img/osaka-tablet-desktop.jpg);
    background-size: cover;
  }

  .destinations .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }

  .destinations .destination-items {
    display: flex;
    gap: 24px;
  }

  .travel-packages hr {
    margin-bottom: 64px;
  }
}
