@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secundary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* RESET CSS */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title {
    margin-top: 88px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
    display: inline-block;
    width: 280px;
    height: 64px;
    font-size: 20px;
    font-weight: var(--title-weight);
    color: var(--background-secundary-color);
    background-color: var(--secundary-color);
    text-decoration: none;
    border-radius: 16px;
    align-content: center;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-color);
    transition: 1s;
  }
}
