header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

nav {
    display: none;
}

a {
    width: 68px;
    height: 64px;
}

.logo{
    display: inline-block;
}

.navigation-menu {
    margin-top: 24px;
}