.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg), no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.bottom-hero {
  width: 100%;
  margin: 0;
}

.hero h2 {
  padding: 88px 24px 0;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/* PACOTES DE VIAGEM */
.travel-packages .hero-img {
  height: 460px;
  background: url(../img/travel-packages-hero-mobile.png) no-repeat;
  background-size: cover;
  margin-bottom: 88px;
}

.travel-packages .hero-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 65px 24px 20px;
}

.travel-packages .hero-content h1 {
  font-size: 48px;
  color: var(--text-secundary-color);
  font-weight: var(--title-weight);
}

.travel-packages .hero-content hr {
  margin-left: 0px;
}

.travel-packages .hero-content p {
  width: 312px;
  font-size: 20px;
  color: var(--text-secundary-color);
  font-weight: var(--text-weight);
}

.travel-packages.bottom-hero .hero-img {
  margin-bottom: 0;
  background: url(../img/travel-packages-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg), no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .bottom-hero {
    width: 100%;
    margin: 0;
  }

  /* Pacotes de viagem */
  .travel-packages .hero-img {
    height: 460px;
    background: url(../img/travel-packages-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .section-title.hero-content {
    box-sizing: border-box;
    padding: 120px;
  }

  .travel-packages.bottom-hero .hero-img {
    height: 400px;
    background: url(../img/travel-packages-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-hero-tablet2.png), no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }

  .bottom-hero {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-hero-desktop.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1920px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    height: 900px;
  }

  .bottom-hero .hero-img {
    box-sizing: border-box;
    height: 800px;
    padding: 88px 160px;
  }
}
