.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
  height: 460px;
  margin-top: 24px;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/bag-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/passport-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/people-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

/*Pacotes de viagem */
.travel-packages .content-container .image-gallery .image.first {
  background: url(../img/temple-mobile.png) no-repeat;
  background-size: cover;
}

.travel-packages .content-container .image-gallery .image.second {
  background: url(../img/tower-mobile.png) no-repeat;
  background-size: cover;
}

.travel-packages .content-container .image-gallery .image.thirdy {
  background: url(../img/pillars.mobile.png) no-repeat;
  background-size: cover;
}

.travel-packages .content-container .content-text {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery.image.first {
    background: url(../img/bag-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/passport-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.thirdy {
    background: url(../img/people-tablet.png) no-repeat;
    background-size: cover;
  }

  /* Pacote de viagem */
  .travel-packages .content-container .image-gallery .image.first {
    background: url(../img/temple-tablet.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .content-container .image-gallery .image.second {
    background: url(../img/tower-tablet.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .content-container .image-gallery .image.thirdy {
    background: url(../img/pillars-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .image-gallery {
    width: 790px;
  }

  .payments .content-container .image-gallery .image.first {
    background: url(../img/bag-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/passport-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.thirdy {
    background: url(../img/people-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
